.Weather {
    border: 5px solid green;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(173, 16, 16);
    padding: 16px;
    margin: 30px auto;
    border-radius: 10px;
  }
  
  .Weather h1 {
    font-size: 40px;
    font-weight: 100;
    line-height: 29px;
    margin: 10 auto;
  }
  
  .Weather ul {
    margin: 0;
    padding: 0;
  }
  
  .Weather li {
    font-weight: 100;
    font: size 20px;
    line-height: 25px;
    list-style: none;
  }
  
  .Weather form {
    margin-bottom: 40px;
  }
  
  .Weather canvas {
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
  }
  
  .Temperature .TempRound {
    position: relative;
    top: -10px;
    font-weight: 400;
    color: green;
    font-size: 64px;
    line-height: 64px;
  }
  
  .Temperature .unit {
    font-size: 15px;
    font-weight: 400;
    position: relative;
    top: -40px;
    left: 2px;
    margin-left:3px;
     }